body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsla(21, 100%, 78%, 0.819);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* PLAYER MOVEMENT */
.main-div-player-controller {
  display: flex;
  flex-direction: column;
}

.div-group-title-components {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-player-controller {
  color: brown;
  font-weight: bold;
  font-size: 20px;
}

.title-player-controller-x {
  color: rgb(73, 28, 179);
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.title-player-controller-y {
  color: rgb(133, 2, 190);
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.secondary-div-player-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1px;
}

.button-keypad {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
  font-weight: bold;
  width: 80px;
  height: 40px;
  font-size: 17px;
  border: 0.1px dashed rgb(85, 85, 85);
  border-radius: 10px;
  background-color: hsla(21, 100%, 78%, 0.819);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-keypad:hover {
  cursor: pointer;
  opacity: 0.7;
}


/* MAP */
.main-div-map {
  display: flex;
  align-items: center;
  justify-content: center;
}

tr,
td {
  border: 1px solid black;
  width: 45px;
  height: 45px;
}

table {
  border-collapse: collapse;
}

.player-cell {
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
    background-image: url("assets/playerUp1.png");
  }

  25% {
    background-image: url("assets/playerUp2.png");
  }

  50% {
    transform: translateY(-50%);
    background-image: url("assets/playerUp1.png");
  }

  75% {
    background-image: url("assets/playerUp2.png");
  }

  100% {
    transform: translateY(-100%);
    background-image: url("assets/playerUp.png");
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
    background-image: url("assets/playerDown1.png");
  }

  25% {
    background-image: url("assets/playerDown2.png");
  }

  50% {
    transform: translateY(50%);
    background-image: url("assets/playerDown1.png");
  }

  75% {
    background-image: url("assets/playerDown2.png");
  }

  100% {
    transform: translateY(100%);
    background-image: url("assets/playerDown.png");
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
    background-image: url("assets/playerLeft1.png");
  }

  25% {
    background-image: url("assets/playerLeft2.png");
  }

  50% {
    transform: translateX(-50%);
    background-image: url("assets/playerLeft1.png");
  }

  75% {
    background-image: url("assets/playerLeft2.png");
  }

  100% {
    transform: translateX(-100%);
    background-image: url("assets/playerLeft.png");
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
    background-image: url("assets/playerRight1.png");
  }

  25% {
    background-image: url("assets/playerRight2.png");
  }

  50% {
    transform: translateX(50%);
    background-image: url("assets/playerRight1.png");
  }

  75% {
    background-image: url("assets/playerRight2.png");
  }

  100% {
    transform: translateX(100%);
    background-image: url("assets/playerRight.png");
  }
}

.player-up,
.player-down,
.player-left,
.player-right,
.player-up-anim,
.player-down-anim,
.player-left-anim,
.player-right-anim {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.player-up-anim {
  background-image: url("assets/playerUp.png");
  animation: moveUp 0.5s steps(4) forwards;
}

.player-up {
  background-image: url("assets/playerUp.png");
}

.player-down-anim {
  background-image: url("assets/playerDown.png");
  animation: moveDown 0.5s steps(4) forwards;
}

.player-down {
  background-image: url("assets/playerDown.png");
}

.player-left-anim {
  background-image: url("assets/playerLeft.png");
  animation: moveLeft 0.5s steps(4) forwards;
}

.player-left {
  background-image: url("assets/playerLeft.png");
}

.player-right-anim {
  background-image: url("assets/playerRight.png");
  animation: moveRight 0.5s steps(4) forwards;
}

.player-right {
  background-image: url("assets/playerRight.png");
}

.npc-cell {
  background-color: yellow;
}

.map-border {
  background-image: url("assets/wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}