body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* PLAYER STATS */
.div-stats-panel {
  width: max-content;
  margin-left: 5vw;
  padding: 10px;
  background-image: url(/src/assets//statsPanel.jpeg);
  background-position: center;
  background-size: contain;
  border: 5px solid rgb(77, 105, 77);
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.h1-stats-title {
  color: rgb(196, 196, 196);
  margin: 0;
  padding: 5px;
}

.div-hp,
.div-str,
.div-stats-position {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

.p-stats-hp,
.p-stats-hp-value,
.p-stats-str,
.p-stats-str-value,
.p-stats-position,
.div-stats-position-value,
.p-stats-position-x,
.p-stats-position-y {
  color: rgb(255, 187, 30);
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 5px;
  align-self: center;
  width: max-content;
}

.p-stats-position-x,
.p-stats-position-y {
  padding: 0px;
  padding-left: 10px;
}

.p-stats-str,
.p-stats-str-value {
  padding-right: 5px;
  padding-left: 5px;
}

.div-stats-position-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAP */
.main-div-map {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  background-image: url(/src/assets/floor.png);
  background-position: center;
}

tr,
td {
  width: 45px;
  height: 45px;
  border: 1px solid black;
}

.player-cell {
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.map-border {
  background-image: url("assets/wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* PLAYER MOVEMENT */
.main-div-player-controller {
  display: flex;
  flex-direction: column;
}

.secondary-div-player-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1px;
}

.button-keypad {
  width: 80px;
  height: 40px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(196, 196, 196);
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid black;
  background-image: url(/src/assets/buttonsBackground.jpeg);
  background-position: center;
  background-size: contain;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-keypad:hover {
  cursor: pointer;
  opacity: 0.7;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
    background-image: url("assets/playerUp1.png");
  }

  25% {
    background-image: url("assets/playerUp2.png");
  }

  50% {
    transform: translateY(-50%);
    background-image: url("assets/playerUp1.png");
  }

  75% {
    background-image: url("assets/playerUp2.png");
  }

  100% {
    transform: translateY(-100%);
    background-image: url("assets/playerUp1.png");
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
    background-image: url("assets/playerDown1.png");
  }

  25% {
    background-image: url("assets/playerDown2.png");
  }

  50% {
    transform: translateY(50%);
    background-image: url("assets/playerDown1.png");
  }

  75% {
    background-image: url("assets/playerDown2.png");
  }

  100% {
    transform: translateY(100%);
    background-image: url("assets/playerDown1.png");
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
    background-image: url("assets/playerLeft1.png");
  }

  25% {
    background-image: url("assets/playerLeft2.png");
  }

  50% {
    transform: translateX(-50%);
    background-image: url("assets/playerLeft1.png");
  }

  75% {
    background-image: url("assets/playerLeft2.png");
  }

  100% {
    transform: translateX(-100%);
    background-image: url("assets/playerLeft1.png");
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
    background-image: url("assets/playerRight1.png");
  }

  25% {
    background-image: url("assets/playerRight2.png");
  }

  50% {
    transform: translateX(50%);
    background-image: url("assets/playerRight1.png");
  }

  75% {
    background-image: url("assets/playerRight2.png");
  }

  100% {
    transform: translateX(100%);
    background-image: url("assets/playerRight.png");
  }
}

.player-up,
.player-down,
.player-left,
.player-right,
.player-up-anim,
.player-down-anim,
.player-left-anim,
.player-right-anim {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.player-up-anim {
  animation: moveUp 0.35s steps(4) forwards;
}

.player-up {
  background-image: url("assets/playerUp.png");
}

.player-down-anim {
  animation: moveDown 0.35s steps(4) forwards;
}

.player-down {
  background-image: url("assets/playerDown.png");
}

.player-left-anim {
  animation: moveLeft 0.35s steps(4) forwards;
}

.player-left {
  background-image: url("assets/playerLeft.png");
}

.player-right-anim {
  animation: moveRight 0.35s steps(4) forwards;
}

.player-right {
  background-image: url("assets/playerRight.png");
}

.npc-cell {
  background-color: yellow;
}