body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* COMMON STYLES */
.panel {
  width: max-content;
  padding: 10px;
  background-image: url(/src/assets//statsPanel.jpeg);
  background-position: center;
  background-size: contain;
  border: 5px solid rgb(77, 105, 77);
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.panel-title {
  color: rgb(196, 196, 196);
  margin: 0;
  padding: 5px;
}

.stat {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

.stat-value {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 5px;
  align-self: center;
  width: max-content;
}

.stat-value-padding {
  padding-right: 5px;
  padding-left: 5px;
}

/* PLAYER STATS */
.div-stats-player-panel {
  margin-left: 2vw;
}

.h1-stats-player-title {
  color: rgb(196, 196, 196);
}

.p-stats-player-hp,
.p-stats-player-hp-value,
.p-stats-player-str,
.p-stats-player-str-value,
.p-stats-player-position,
.div-stats-player-position-value,
.p-stats-player-position-x,
.p-stats-player-position-y,
.p-stats-player-level,
.p-stats-player-level-value {
  color: rgb(0, 214, 54);
}

.p-stats-player-position-x,
.p-stats-player-position-y {
  padding: 0px;
  padding-left: 10px;
}

.div-stats-player-position-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NPC STATS */
.h1-stats-npc-title {
  color: rgb(196, 196, 196);
}

.p-stats-npc-hp,
.p-stats-npc-hp-value,
.p-stats-npc-str,
.p-stats-npc-str-value {
  color: rgb(255, 187, 30);
}

/* QUESTS */
.div-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}

.div-stats-quest-panel {
  margin-top: 10px;
}

.div-quest {
  display: flex;
  justify-content: space-between;
}

.p-quest-title,
.p-quest-progress {
  color: rgb(91, 200, 107);
  font-weight: bold;
  font-size: 15px;
}

.p-quest-progress {
  padding-right: 5px;
  padding-left: 5px;
}

/* MAP */
.main-div-map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor-1 {
  border-collapse: collapse;
  background-image: url(/src/assets/floor1.png);
  background-position: center;
}

.floor-2 {
  border-collapse: collapse;
  background-image: url(/src/assets/floor2.png);
  background-position: center;
}

tr,
td {
  width: 45px;
  height: 45px;
  border: 1px solid black;
}

.player-cell {
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.map-border {
  background-image: url("assets/wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes doorOpen {
  0% {
    transform: translateY(0);
    background-image: url(assets/door1.png);
  }

  40% {
    transform: translateY(0%);
    background-image: url(assets/door2.png);
  }

  80% {
    transform: translateY(0%);
    background-image: url(assets/door3.png);
  }

  100% {
    transform: translateY(0%);
    background-image: url(assets/door4.png);
  }
}

@keyframes doorClose {
  0% {
    transform: translateY(0);
    background-image: url(assets/door4.png);
  }

  40% {
    transform: translateY(0%);
    background-image: url(assets/door3.png);
  }

  80% {
    transform: translateY(0%);
    background-image: url(assets/door2.png);
  }

  100% {
    transform: translateY(0%);
    background-image: url(assets/door1.png);
  }
}

.door-anim-open {
  animation: doorOpen 0.8s linear forwards;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.door-anim-close {
  animation: doorClose 0.9s linear forwards;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.door-close {
  background-image: url(assets/door1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.door-open {
  background-image: url(assets/door4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.modal-intro-end {
  background-image: url(assets/combatBackground.jpg);
  background-size: contain;
  color: white;
  border-radius: 5px;
  width: 50vw !important;
  height: fit-content !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  font-size: 20px;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

.div-modal-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}


#nextButton {
  background-image: url(assets/buttonsBackground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#nextButton:hover {
  opacity: 0.7;
}


.ghost-cell {
  background-image: url(assets/ghost.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* PLAYER MOVEMENT */
.main-div-player-controller {
  display: flex;
  flex-direction: column;
}

.secondary-div-player-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1px;
}

.button-keypad {
  width: 80px;
  height: 40px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(196, 196, 196);
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid black;
  background-image: url(/src/assets/buttonsBackground.jpeg);
  background-position: center;
  background-size: contain;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-keypad:hover {
  cursor: pointer;
  opacity: 0.7;
}



/* PLAYER ANIMATIONS */
@keyframes movePlayerUp {
  0% {
    transform: translateY(0);
    background-image: url("assets/playerStripes/playerUp1.png");
  }

  25% {
    background-image: url("assets/playerStripes/playerUp2.png");
  }

  50% {
    transform: translateY(-50%);
    background-image: url("assets/playerStripes/playerUp1.png");
  }

  75% {
    background-image: url("assets/playerStripes/playerUp2.png");
  }

  100% {
    transform: translateY(-100%);
    background-image: url("assets/playerStripes/playerUp1.png");
  }
}

@keyframes movePlayerDown {
  0% {
    transform: translateY(0);
    background-image: url("assets/playerStripes/playerDown1.png");
  }

  25% {
    background-image: url("assets/playerStripes/playerDown2.png");
  }

  50% {
    transform: translateY(50%);
    background-image: url("assets/playerStripes/playerDown1.png");
  }

  75% {
    background-image: url("assets/playerStripes/playerDown2.png");
  }

  100% {
    transform: translateY(100%);
    background-image: url("assets/playerStripes/playerDown1.png");
  }
}

@keyframes movePlayerLeft {
  0% {
    transform: translateX(0);
    background-image: url("assets/playerStripes/playerLeft1.png");
  }

  25% {
    background-image: url("assets/playerStripes/playerLeft2.png");
  }

  50% {
    transform: translateX(-50%);
    background-image: url("assets/playerStripes/playerLeft1.png");
  }

  75% {
    background-image: url("assets/playerStripes/playerLeft2.png");
  }

  100% {
    transform: translateX(-100%);
    background-image: url("assets/playerStripes/playerLeft1.png");
  }
}

@keyframes movePlayerRight {
  0% {
    transform: translateX(0);
    background-image: url("assets/playerStripes/playerRight1.png");
  }

  25% {
    background-image: url("assets/playerStripes/playerRight2.png");
  }

  50% {
    transform: translateX(50%);
    background-image: url("assets/playerStripes/playerRight1.png");
  }

  75% {
    background-image: url("assets/playerStripes/playerRight2.png");
  }

  100% {
    transform: translateX(100%);
    background-image: url("assets/playerStripes/playerRight1.png");
  }
}

.player-up,
.player-down,
.player-left,
.player-right,
.player-up-anim,
.player-down-anim,
.player-left-anim,
.player-right-anim {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.player-up-anim {
  animation: movePlayerUp 0.40s linear;
}

.player-up {
  background-image: url("assets/playerStripes/playerUp.png");
}

.player-down-anim {
  animation: movePlayerDown 0.40s linear;
}

.player-down {
  background-image: url("assets/playerStripes/playerDown.png");
}

.player-left-anim {
  animation: movePlayerLeft 0.40s linear;
}

.player-left {
  background-image: url("assets/playerStripes/playerLeft.png");
}

.player-right-anim {
  animation: movePlayerRight 0.40s linear;
}

.player-right {
  background-image: url("assets/playerStripes/playerRight.png");
}



/* NPC ANIMATIONS */
@keyframes moveNpcUp {
  0% {
    transform: translateY(0);
    background-image: url("assets/npcStripes/npcUp1.png");
  }

  25% {
    background-image: url("assets/npcStripes/npcUp2.png");
  }

  50% {
    transform: translateY(-50%);
    background-image: url("assets/npcStripes/npcUp1.png");
  }

  75% {
    background-image: url("assets/npcStripes/npcUp2.png");
  }

  100% {
    transform: translateY(-100%);
    background-image: url("assets/npcStripes/npcUp1.png");
  }
}

@keyframes moveNpcDown {
  0% {
    transform: translateY(0);
    background-image: url("assets/npcStripes/npcDown1.png");
  }

  25% {
    background-image: url("assets/npcStripes/npcDown2.png");
  }

  50% {
    transform: translateY(50%);
    background-image: url("assets/npcStripes/npcDown1.png");
  }

  75% {
    background-image: url("assets/npcStripes/npcDown2.png");
  }

  100% {
    transform: translateY(100%);
    background-image: url("assets/npcStripes/npcDown1.png");
  }
}

@keyframes moveNpcLeft {
  0% {
    transform: translateX(0);
    background-image: url("assets/npcStripes/npcLeft1.png");
  }

  25% {
    background-image: url("assets/npcStripes/npcLeft2.png");
  }

  50% {
    transform: translateX(-50%);
    background-image: url("assets/npcStripes/npcLeft1.png");
  }

  75% {
    background-image: url("assets/npcStripes/npcLeft2.png");
  }

  100% {
    transform: translateX(-100%);
    background-image: url("assets/npcStripes/npcLeft1.png");
  }
}

@keyframes moveNpcRight {
  0% {
    transform: translateX(0);
    background-image: url("assets/npcStripes/npcRight1.png");
  }

  25% {
    background-image: url("assets/npcStripes/npcRight2.png");
  }

  50% {
    transform: translateX(50%);
    background-image: url("assets/npcStripes/npcRight1.png");
  }

  75% {
    background-image: url("assets/npcStripes/npcRight2.png");
  }

  100% {
    transform: translateX(100%);
    background-image: url("assets/npcStripes/npcRight1.png");
  }
}

.npc-up,
.npc-down,
.npc-left,
.npc-right,
.npc-up-anim,
.npc-down-anim,
.npc-left-anim,
.npc-right-anim {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.npc-up-anim {
  animation: moveNpcUp 0.35s linear;
}

.npc-up {
  background-image: url("assets/npcStripes/npcUp.png");
}

.npc-down-anim {
  animation: moveNpcDown 0.35s linear;
}

.npc-down {
  background-image: url("assets/npcStripes/npcDown.png");
}

.npc-left-anim {
  animation: moveNpcLeft 0.35s linear;
}

.npc-left {
  background-image: url("assets/npcStripes/npcLeft.png");
}

.npc-right-anim {
  animation: moveNpcRight 0.35s linear;
}

.npc-right {
  background-image: url("assets/npcStripes/npcRight.png");
}



/* COMBAT */
.modal {
  background-image: url(assets/combatBackground.jpg);
  color: white;
  border-radius: 30px;
  width: 80vw !important;
  height: 90vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

.modal-end-combat {
  background-image: url(assets/combatBackground.jpg);
  color: white;
}

.modal-end-combat button {
  background-image: url(assets/buttonsBackground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-end-combat button:hover {
  background-image: url(assets/buttonsBackground.jpeg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: 0.7 !important;
}


.modal button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.modal-button-attack {
  background-image: url(assets/buttonsBackground.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #b30000;
  color: white;
}

.modal-button-attack-clicked,
.modal-button-defend-clicked {
  opacity: 0.5 !important;
}

.modal-button-defend {
  background-image: url(assets/buttonsBackground.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #0033cc;
  color: white;
}

.combat-card-container {
  border: 2px solid grey;
  padding: 10px;
  background-color: #a6a4a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.combat-card-player-pre-attack {
  background-color: rgb(69, 168, 69);
  transition: background-color 0.25s ease;
}

.combat-card-npc-damage {
  background-color: rgb(168, 69, 69);
  transition: background-color 0.25s ease;
}

.combat-card-player-defense {
  background-color: #4c6aff;
  transition: background-color 0.25s ease;
}

.combat-card-npc-defense {
  background-color: #4c6aff;
  transition: background-color 0.25s ease;
}

.combat-card-npc-pre-attack,
.combat-card-player-damage {
  background-color: rgb(168, 69, 69);
  transition: background-color 0.25s ease;
}


.combat-card-container img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.group-divs-hp-player,
.group-divs-hp-npc {
  margin-bottom: 10px;
  text-align: center;
}

.p-hp-player,
.p-hp-npc {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  color: white;
  margin: 0;
}

.div-progress-hp-player,
.div-progress-hp-npc {
  background-color: #ddd;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 5px;
}

.div-progres-bar-hp-player,
.div-progres-bar-hp-npc {
  background-color: #f44336;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 20px;
}

.group-divs-str-player,
.group-divs-str-npc {
  margin-bottom: 10px;
  text-align: center;
}

.p-str-player,
.p-str-npc {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.div-progress-str-player,
.div-progress-str-npc {
  background-color: #ddd;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 5px;
}

.div-progres-bar-str-player,
.div-progres-bar-str-npc {
  background-color: #2196f3;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 20px;
}


.modal-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.div-combat-zone {
  display: flex;
  justify-content: center;
  margin: 30px;
  background-color: #b69494;
  border: 2px solid grey;
  padding: 10px;
  width: 15vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.div-player {
  background-image: url("assets/combatStripes/combat-player1.png");
  width: 75px;
  height: 80px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.div-npc {
  background-image: url("assets/combatStripes/combat-npc1.png");
  width: 75px;
  height: 80px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.div-player-defense {
  background-image: url(assets/combatStripes/combat-player-defend.png) !important;
}

.div-npc-defense {
  background-image: url(assets/combatStripes/combat-npc-defend.png) !important;
}

.div-player-attack {
  animation: playerAttack 0.50s forwards linear;
}

.div-npc-attack {
  animation: npcAttack 0.50s forwards linear;
}

.div-player-damage {
  background-image: url(assets/combatStripes/combat-player1.png);
  opacity: 0.5;
}

.div-npc-damage {
  background-image: url(assets/combatStripes/combat-npc1.png);
  opacity: 0.5;
}


@keyframes playerAttack {
  0% {
    transform: translateX(0);
    background-image: url(assets/combatStripes/combat-player1.png);
  }

  25% {
    transform: translateX(25%);
    background-image: url(assets/combatStripes/combat-player1.png);
  }

  50% {
    transform: translateX(50%);
    background-image: url(assets/combatStripes/combat-player3.png);
  }

  75% {
    transform: translateX(65%);
    background-image: url(assets/combatStripes/combat-player2.png);
  }

  100% {
    transform: translateX(75%);
    background-image: url(assets/combatStripes/combat-player2.png);
  }
}

@keyframes npcAttack {
  0% {
    transform: translateX(0);
    background-image: url(assets/combatStripes/combat-npc1.png);
  }

  25% {
    transform: translateX(-25%);
    background-image: url(assets/combatStripes/combat-npc1.png);
  }

  50% {
    transform: translateX(-50%);
    background-image: url(assets/combatStripes/combat-npc3.png);
  }

  75% {
    transform: translateX(-65%);
    background-image: url(assets/combatStripes/combat-npc2.png);
  }

  100% {
    transform: translateX(-75%);
    background-image: url(assets/combatStripes/combat-npc2.png);
  }
}

/* QUESTS */

.chest-open {
  background-image: url("assets/chest2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chest-close {
  background-image: url("assets/chest1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.key {
  background-image: url("assets/key.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}